**/node_modules
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.so
**/*.egg
**/*.egg-info
**/dist
**/build
**/venv
**/env
**/.venv
**/*.log
.git
.gitignore
**/.pytest_cache
**/.coverage
**/htmlcov
**/*.db
**/*.sqlite
**/*.sqlite3
**/.vscode
**/.idea
**/android-sdk
**/jdk-17
**/jdk-17.0.2
**/*.tar.gz
db-backups
frontend/build
frontend/.dart_tool
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
